/* font-family: 'Press Start 2P', cursive;
font-family: 'VT323', monospace; */

body {
    align-content: center;
    background-color: #9b6631;
    /* background-image: linear-gradient( #9b6631, #e2cf21); */
    color: white;
    text-align: center;
    
}

h1, h2{
    font-family: 'Press Start 2P', cursive;
}

.burger{
    padding: 10px;
}

.form-group,
button, 
.burger
 {
    font-family: 'VT323', monospace;
    font-size: 20px;
}